{% extends 'blog_base.html' %}
{% load staticfiles %}

{% block article %}

	{% for article in article_list %}
	<article class="blog-item">
		<div class="img">
			<img src="{% static 'img/img16.jpg' %}" alt="">
		</div>
		<div class="blog-text">
			<a href="{% url 'blog:detail' article.pk %}">
				<h5>{{ article.title }}</h5>
			</a>
			<p>{{ article.summary }}</p>
			<div class="bottom-blog clear">
				<div class="date">Date publication: {{ article.created_time }}</div>
				<a href="{% url 'blog:detail' article.pk %}" class="read-more">Read more</a>
				<a href="{% url 'blog:detail' article.pk %}#comment-area" class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> {{ article.comment_set.count }} comments</a>
			</div>
		</div>
	</article>
	{% empty %}
		<div class="no-post">There is no article.</div>
	{% endfor %}
	<ul class="pager">
		<li><a href="#" class="active">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
	</ul>
	
{% endblock article %}					
