{% extends 'blog_base.html' %}
{% load staticfiles %}

{% block article %}

	{% for article in article_list %}
	<article class="blog-item">
		<div class="img">
			<img src="{% static 'img/img16.jpg' %}" alt="">
		</div>
		<div class="blog-text">
			<a href="{% url 'blog:detail' article.pk %}">
				<h5>{{ article.title }}</h5>
			</a>
			<p>{{ article.summary }}</p>
			<div class="bottom-blog clear">
				<div class="date">Date publication: {{ article.created_time }}</div>
				<div class="date">&nbsp;&nbsp;Views: {{ article.views }}</div>
				<a href="{% url 'blog:detail' article.pk %}" class="read-more">Read more</a>
				<a href="{% url 'blog:detail' article.pk %}#comment-area" class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i> {{ article.comment_set.count }} comments</a>
			</div>
		</div>
	</article>
	{% empty %}
		<div class="no-post">There is no article.</div>
	{% endfor %}

	{% if is_paginated %}
	<ul class="pager">
		{% if first %}
			<li><a href="?page=1">1</a></li>
		{% endif %}
		{% if left %}
			{% if left_has_more %}
				<span>...</span>
			{% endif %}
			{% for i in left %}
				<li><a href="?page={{ i }}">{{ i }}</a></li>
			{% endfor %}
		{% endif %}
		<li><a href="?page={{ page_obj.number }}" class="active">{{ page_obj.number }}</a></li>
		{% if right %}
			{% for i in right %}
				<li><a href="?page={{ i }}">{{ i }}</a></li>
			{% endfor %}
			{% if right_has_more %}
				<span>...</span>
			{% endif %}
		{% endif %}
		{% if last %}
			<li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
		{% endif %}
	</ul>
	{% endif %}
	
{% endblock article %}					
